.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  padding-top: 10px;

  .home {
    font-weight: 500;
    color: black;
    padding-left: 10px;
    padding-top: 5px;
  }

  .search {
    display: none;
    @media (min-width: $sm-screen) {
      display: block;
      width: 200px;
      margin: 0 auto;

      @media (min-width: $lg-screen) {
        width: 500px;
      }

      input {
        padding: 5px 8px;
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 4px;
      }
    }
  }

  .userAccess {
    display: flex;
    padding-right: 10px;

    & > * {
      padding: 5px;
      font-weight: 500;
    }

    .signup {
      margin-right: 10px;
      color: $lightblue;
    }

    .signin {
      background-color: $lightblue;
      color: white;
      border-radius: 3px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}
